.menu_wrap ul {
  display: flex;
  align-items: center;
  gap: 6px;
}

.menu_wrap ul li {
  position: relative;
}

.menu_wrap ul li a,
.menu_wrap ul li button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 6px;
  color: #444;
  position: relative;
}

.menu_wrap ul li a:hover,
.menu_wrap ul li button:hover {
  color: var(--primary);
}

.menu_overlay {
  display: none;
}

.menu_wrap ul li:hover .dropdown {
  max-height: max-content !important;
}

@media only screen and (max-width: 1024px) {
  .menu_wrap ul {
    position: fixed;
    background: #fff;
    width: 300px;
    height: 105vh;
    left: 0;
    top: -29px;
    gap: 0px;

    flex-direction: column;
    align-items: flex-start;

    padding: 10px;
    z-index: 999;

    transform: translateX(-100%);
    transition: 0.3s;
  }

  .menu_wrap ul.show {
    transform: translateX(0%);
  }

  .menu_wrap ul li a,
  .menu_wrap ul li button {
    padding: 5px 10px;
  }

  .menu_overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 105vh;
    top: -29px;
    left: 0;
    z-index: 99;
    background: #11111171;

    overflow: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  .menu_overlay_show {
    overflow: 1;
    visibility: visible;
  }
}

@media only screen and (max-width: 640px) {
  .menu_wrap ul {
    top: 0px;
    height: 100vh;
  }
  .menu_overlay {
    top: 0;
    height: 100vh;
  }
}

@media only screen and (max-width: 340px) {
  .menu_wrap ul {
    width: 90%;
  }
}

.menu_wrap .dropdown {
  position: absolute;
  top: 60px;
  background: #fff;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #ddd;
  z-index: 999;

  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.menu_wrap .dropdown ul {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start !important;
  gap: 0px !important;
}

.menu_wrap .dropdown_show {
  max-height: 500px;
}

.menu_wrap .dropdown li {
  width: 100%;
  border-bottom: 0.7px solid #ddd;
}

.menu_wrap .dropdown li a {
  padding: 8px 20px !important;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.menu_wrap .dropdown li:last-child {
  border-bottom: none !important;
}

@media only screen and (max-width: 1024px) {
  .menu_wrap .dropdown {
    position: relative !important;
    display: block !important;
    top: 0;
    right: 0;
  }

  .menu_wrap .dropdown ul {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: max-content;
    transform: translate(0);
    padding: 0;
    width: 100%;
  }

  .menu_wrap .dropdown ul li,
  .menu_wrap .dropdown ul li a {
    border-bottom: none;
    padding: 2px 10px !important;
  }

  .menu_wrap .dropdown_show {
    max-height: max-content !important;
  }
}
