.banner_content {
  background: linear-gradient(80deg, #282f3bde 40%, rgba(0, 0, 0, 0) 100%);
  @apply absolute top-0 left-0 z-10 h-full w-full flex justify-center items-center text-center lg:text-start;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--secondary) !important;
  font-size: 22px !important;
}

.feature_card {
  background: var(--primary);
  color: #fff;
  padding: 40px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease;
}

.feature_card h2 {
  margin-top: 16px;
  font-size: 28px;
  font-weight: 600;
}

.feature_card p {
  margin-top: 16px;
  font-size: 15px;
  font-weight: 400;
}

.feature_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  background: var(--secondary);
}

.img {
  background: linear-gradient(80deg, #0000009a, #000);
}

/* ----------------------Service----------------- */
.service_card {
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 1px 10px #155d6722;
  border: 1px solid #dddddd76;

  background: #fff;
  transition: all 0.5s ease;
}

.service_card .title {
  color: #404145;
  transition: all 0.5s ease;
}

.service_card:hover {
  transform: translateY(-5px);
  background: var(--primary);
}

.service_card:hover .title {
  color: #fff;
}

.service_card img {
  width: 60px;
  height: 60px;
  margin: auto;
  opacity: 0.9;
}

/* -----------------more_about-------------------- */
.more_about_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  color: #fff;
}

.more_about_card .content {
  padding: 80px 20px;
}

.more_about_card:nth-child(odd) .content {
  order: 1;
  background: var(--primary);
}

.more_about_card:nth-child(odd) .image {
  order: 2;
}

.more_about_card:nth-child(even) .content {
  order: 2;
  background: var(--secondary);
}

.more_about_card:nth-child(even) .image {
  order: 1;
}

@media only screen and (max-width: 768px) {
  .more_about_card {
    grid-template-columns: 1fr;
  }

  .more_about_card .image {
    order: 1;
  }

  .more_about_card .content {
    order: 2;
  }
}

/* Responsive Design for Small Devices */
@media (max-width: 768px) {
  .more_about_card {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .more_about_card .image {
    order: 1 !important;
  }

  .more_about_card .content {
    order: 2 !important;
    padding: 40px 20px;
  }
}
